.dados {
  margin: 3rem 6rem;
}

.dadosWrapper {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
}

.responsive {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1.4fr)) !important;
}

.dadosWrapper form {
  border-radius: unset;
  border-width: unset;
  box-shadow: none;
  max-width: 700px;
  padding: 0;
}

.dadosWrapper input {
  max-width: 700px;
  width: 100%;
}
#espaço{
    height: 10px;
}
#sembold{
    font-weight: normal;
}