.header {
  display: flex;
  height: 10rem;
  width: 100%;
}

.headerWrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 6rem;
  width: 100%;
}

.navbar {
  font-family: Montserrat;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  padding: 10px;
  flex-grow: 1;
}

.navbar a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
}