
#TextoPautas h2{
  display: flex;
  justify-content: center;
  align-items: center;
}

#TextoPautas #text1{
    font-size: 32px;
    line-height: 39,01px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

#TextoPautas #text2{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  transform: translateX(-305px);
  margin-top: 50px;
}

#TextoPautas #text3{
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  transform: translateX(-336px) translateY(20px);
  
}

#TextoPautas #text4{
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  transform: translateX(-10px);
}

#TextoPautas #text5{
  display: flex;
  flex-direction: column;
  margin-top: 30px;


  font-family: "Lato";
  font-style: normal;
  align-items: center;
  color: #39393A;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  transform: translateX(-80px) translateY(-15px);
}

#TextoPautas #text6{
  font-family: "Lato";
  font-style: normal;
  font-weight: 50px;
  font-size: 20px;
  line-height: 24px;
  transform: translateX(-230px);
  color: #000000;
}
#TextoPautas #text7{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 30px;

  font-family: "Lato";
  font-style: normal;
  color: #39393A;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  transform: translateX(-80px) translateY(-15px);
}

#TextoPautas #text8{
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  transform: translateX(-80px);
}

#TextoPautas #text9{
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  transform: translateX(-120px);
}

#TextoPautas #text10{
  margin-top: 40px;

  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  transform: translateX(-330px) translateY(20px);
}
#TextoPautas #text11{
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  transform: translateX(-336px) translateY(20px);
}

#TextoPautas #text12{
  margin-top: 15px;
  transform: translateX(-57px);
}

#TextoPautas #text13{
  margin-top: 20px;
  transform: translateX(45px);
}
#TextoPautas #text14{
  margin-top: 20px;
  transform: translateX(-5px);
}
#TextoPautas #text15{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 30px;

  font-family: "Lato";
  font-style: normal;
  color: #39393A;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  transform: translateX(-72px) translateY(-15px);
}
#TextoPautas #text16{
  margin-top: -10px;

  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  transform: translateX(-330px) translateY(20px);

}
#TextoPautas #text17{
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  transform: translateX(-182px);

}
#TextoPautas #text18{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 30px;

  font-family: "Lato";
  font-style: normal;
  color: #39393A;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  transform: translateX(-72px) translateY(-15px);

}
#TextoPautas #text19{
  margin-top: 20px;
  transform: translateX(-9px);

}
#TextoPautas #text20{
  margin-top: 30px;

  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  transform: translateX(-330px) translateY(20px);

}
#TextoPautas #text21{
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  transform: translateX(-45px);

}
#TextoPautas #text22{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 30px;

  font-family: "Lato";
  font-style: normal;
  color: #39393A;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  transform: translateX(-72px) translateY(-15px);

}
#TextoPautas #text23{
  margin-top: 20px;
  transform: translateX(-9px);

}

#TextoPautas #text24{
  margin-top: 30px;

  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  transform: translateX(-330px) translateY(20px);

}
#TextoPautas #text25{
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  transform: translateX(88px);

}
#TextoPautas #text26{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 30px;

  font-family: "Lato";
  font-style: normal;
  color: #39393A;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  transform: translateX(-72px) translateY(-15px);

}
#TextoPautas #text27{
  margin-top: 20px;
  transform: translateX(-9px);

}
#TextoPautas #text28{
  margin-top: 30px;

  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  transform: translateX(-330px) translateY(20px);

}
#TextoPautas #text29{
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  transform: translateX(20px);

}
#TextoPautas #text30{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 30px;

  font-family: "Lato";
  font-style: normal;
  color: #39393A;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  transform: translateX(-72px) translateY(-15px);

}
#TextoPautas #text31{
  margin-top: 20px;
  transform: translateX(-65px);

}

#TextoPautas #text32{
  margin-top: 30px;

  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  transform: translateX(-330px) translateY(20px);

}
#TextoPautas #text33{
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  transform: translateX(-112px);

}
#TextoPautas #text34{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 30px;

  font-family: "Lato";
  font-style: normal;
  color: #39393A;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  transform: translateX(-72px) translateY(-15px);

}
#TextoPautas #text35{
  margin-top: 20px;
  transform: translateX(-7px);

}

#TextoPautas #text36{
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    transform: translateX(-330px) translateY(20px);
  
  }
  #TextoPautas #text37{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(-112px);
  
  }
  #TextoPautas #text38{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-85px) translateY(-15px);
  
  }
  #TextoPautas #text39{
    margin-top: 20px;
    transform: translateX(5px);
  }

  #TextoPautas #text40{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    transform: translateX(-205px);
    margin-top: 50px;
  }
  #TextoPautas #text41{
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    transform: translateX(-330px) translateY(20px);
  
  }
  #TextoPautas #text42{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(-48px);
  
  }
  
  #TextoPautas #text43{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-70px) translateY(-15px);
  
  }
  #TextoPautas #text44{
    margin-top: 20px;
    transform: translateX(-5px);
  }
  #TextoPautas #text45{
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    transform: translateX(-330px) translateY(20px);
  
  }
  #TextoPautas #text46{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(-100px);
  
  }
  
  #TextoPautas #text47{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-70px) translateY(-15px);
  
  }
  #TextoPautas #text48{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 15px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-6px) translateY(-15px);
  }
  #TextoPautas #text49{
    transform: translateX(-5px) translateY(-30px);
  }
  #TextoPautas #text50{
    margin-top: 5px;
    transform: translateX(-5px);
  }
  #TextoPautas #text51{
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    transform: translateX(-330px) translateY(20px);
  
  }
  #TextoPautas #text52{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(-160px);
  
  }
  #TextoPautas #text53{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-77px) translateY(-15px);
  
  }
  #TextoPautas #text54{
    margin-top: 20px;
    transform: translateX(-7px);
  }
  #TextoPautas #text55{

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    transform: translateX(-235px);
    margin-top: 60px;
  }
  #TextoPautas #text56{
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    transform: translateX(-330px) translateY(20px);
  
  }
  #TextoPautas #text57{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(-50px);
  
  }
  #TextoPautas #text58{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-81px) translateY(-15px);
  
  }
  #TextoPautas #text59{
    margin-top: 20px;
    transform: translateX(-46px);
  }

  #TextoPautas #text60{
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    transform: translateX(-330px) translateY(20px);
  
  }
  #TextoPautas #text61{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(-220px);
  
  }
  #TextoPautas #text62{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-77px) translateY(-15px);
  
  }
  #TextoPautas #text63{
    margin-top: 20px;
    transform: translateX(-12px);
  }

  #TextoPautas #text64{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    transform: translateX(-205px);
    margin-top: 60px;
  }

  #TextoPautas #text65{
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    transform: translateX(-330px) translateY(20px);
  
  }
  #TextoPautas #text66{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(-92px);
  
  }
  #TextoPautas #text67{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-75px) translateY(-15px);
  
  }
  #TextoPautas #text68{
    margin-top: 20px;
    transform: translateX(-30px);
  }
  #TextoPautas #text69{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(-37px);
  
  }
  #TextoPautas #text70{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-75px) translateY(-15px);
  
  }
  #TextoPautas #text71{
    margin-top: 20px;
    transform: translateX(-10px);
  }
  #TextoPautas #text73{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(-37px);
  
  }
  #TextoPautas #text74{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-75px) translateY(-15px);
  
  }
  #TextoPautas #text75{
    margin-top: 20px;
    transform: translateX(-2px);
  }
  

  #TextoPautas #text76{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(25px);
  
  }
  #TextoPautas #text77{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-75px) translateY(-15px);
  
  }
  #TextoPautas #text78{
    margin-top: 20px;
    transform: translateX(-45px);
  }
  #TextoPautas #text79{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    transform: translateX(-250px);
    margin-top: 60px;
  
  }

  #TextoPautas #text80{
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    transform: translateX(-330px) translateY(20px);
  
  }
  #TextoPautas #text81{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(-25px);
  
  }
  #TextoPautas #text82{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-75px) translateY(-15px);
  
  }
  #TextoPautas #text83{
    margin-top: 20px;
    transform: translateX(-20px);
  }

  #TextoPautas #text84{
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    transform: translateX(-330px) translateY(20px);
  }

  #TextoPautas #text85{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(-55px);
  
  }
  #TextoPautas #text86{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-75px) translateY(-15px);
  
  }
  #TextoPautas #text87{
    margin-top: 20px;
    transform: translateX(-14px);
  }
  #TextoPautas #text88{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    transform: translateX(-264px);
    margin-top: 60px;
  
  }
  #TextoPautas #text89{
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    transform: translateX(-330px) translateY(20px);
  }

  #TextoPautas #text90{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(-55px);
  
  }
  #TextoPautas #text91{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-75px) translateY(-15px);
  
  }
  #TextoPautas #text92{
    margin-top: 20px;
    transform: translateX(-10px);
  }

  #TextoPautas #text93{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(-15px);
  
  }
  #TextoPautas #text94{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-75px) translateY(-15px);
  
  }
  #TextoPautas #text95{
    margin-top: 20px;
    transform: translateX(-50px);
  }

  #TextoPautas #text96{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(-55px);
  
  }
  #TextoPautas #text97{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-75px) translateY(-15px);
  
  }
  #TextoPautas #text98{
    margin-top: 20px;
    transform: translateX(-10px);
  }


  #TextoPautas #text99{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    transform: translateX(-90px);
  
  }
  #TextoPautas #text100{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
  
    font-family: "Lato";
    font-style: normal;
    color: #39393A;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(-75px) translateY(-15px);
  
  }
  #TextoPautas #text101{
    margin-top: 20px;
    transform: translateX(-10px);
  }
  #TextoPautas #text102{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    transform: translateX(-330px);
    margin-top: 50px;
  }
  #TextoPautas #text103{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    transform: translateX(-240px);
    margin-top: 50px;
  }

#BotaoPautas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
#BotaoPautas #Button1{
  left: -92px;
  margin: 10px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;
}

#BotaoPautas #Button2{
  left: -100px;
  margin: 10px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;
}
#BotaoPautas #Button3{
  margin: 10px;
  left: -130px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;
}

#BotaoPautas #Button4{
  margin: 10px;
  left: -134px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;
}

#BotaoPautas #Button5{
  margin: 10px;
  left: -160px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;

}
#BotaoPautas #Button6{
  margin: 10px;
  left: -158px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;

}

#BotaoPautas #Button7{
  margin: 10px;
  left: -190px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;

}
#BotaoPautas #Button8{
  margin: 10px;
  left: -193px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;

}

#BotaoPautas #Button9{
  margin: 10px;
  left: -190px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;

}

#BotaoPautas #Button10{
  margin: 10px;
  left: -193px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;

}
#BotaoPautas #Button11{
  margin: 10px;
  left: -190px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;

}

#BotaoPautas #Button12{
  margin: 10px;
  left: -193px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;

}
#BotaoPautas #Button13{
  margin: 10px;
  left: -80px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;

}
#BotaoPautas #Button14{
  margin: 10px;
  left: -83px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;

}
#BotaoPautas #Button15{
  margin: 10px;
  left: -153px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;

}
#BotaoPautas #Button16{
  margin: 10px;
  left: -162px;

  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
  border-radius: 6px;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #39393A;

}
#BotaoPautas #Button17{
    margin: 10px;
    left: -150px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  
  }
  #BotaoPautas #Button18{
    margin: 10px;
    left: -152px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  
  }
  #BotaoPautas #Button19{
    margin: 10px;
    left: -28px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  
  }
  #BotaoPautas #Button20{
    margin: 10px;
    left: -35px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  
  }
  #BotaoPautas #Button21{
    margin: 10px;
    left: -148px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  
  }
  #BotaoPautas #Button22{
    margin: 10px;
    left: -152px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  
  }
  #BotaoPautas #Button23{
    margin: 10px;
    left: -187px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  
  }
  #BotaoPautas #Button24{
    margin: 10px;
    left: -190px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button25{
    margin: 10px;
    left: -65px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
   #BotaoPautas #Button26{
    margin: 10px;
    left: -63px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button27{
    margin: 10px;
    left: -210px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button28{
    margin: 10px;
    left: -211px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button29{
    margin: 10px;
    left: -140px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button30{
    margin: 10px;
    left: -143px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button31{
    margin: 10px;
    left: -110px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button32{
    margin: 10px;
    left: -118px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }

  #BotaoPautas #Button33{
    margin: 10px;
    left: 50px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }

  #BotaoPautas #Button34{
    margin: 10px;
    left: 43px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button35{
    margin: 10px;
    left: -79px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button36{
    margin: 10px;
    left: -82px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button37{
    margin: 10px;
    left: -25px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button38{
    margin: 10px;
    left: -27px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button39{
    margin: 10px;
    left: -128px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  } 
   #BotaoPautas #Button40{
    margin: 10px;
    left: -136px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button41{
    margin: 10px;
    left: 45px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button42{
    margin: 10px;
    left: 35px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button43{
    margin: 10px;
    left: -35px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }

  #BotaoPautas #Button44{
    margin: 10px;
    left: -38px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button45{
    margin: 10px;
    left: 45px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button46{
    margin: 10px;
    left: 35px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button47{
    margin: 10px;
    left: -150px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  #BotaoPautas #Button48{
    margin: 10px;
    left: -153px;
  
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(100, 100, 99, 0.37);
    border-radius: 6px;
    cursor: pointer;
  
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #39393A;
  }
  

#ContraBold{
  margin: 5px;
  font-weight: bold;
  color: #000000;
}

#FavorBold{
  margin: 5px;
  font-weight: bold;
  color: #000000;
}

#divColunm{
  display: flex;
  justify-content: center;
  flex-direction: column !important;
}
#divBetween{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

}
#divBetween #botaoCont {
  margin-bottom: 80px;  

  background: #1B9AAA;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  color: white;
}

#divBetween #voltarFormu{
  margin-right:  700px;
  margin-bottom: 80px;

}